.app-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: $app-bg-color;
  @include atMedium {
    width: 80%;
  }
}

header {
  background: $app-bg-color;
}

.title-wrapper {
  display: flex;
  width: 100%;
  height: 3em;
  line-height: 64px;
  align-items: center;
  background-color: $title-bg-color;
  box-shadow: $shadow;
  @include atSmall {
    height: 6em;
  }
  @include atMediumSmall {
    height: 8em;
  }
  @include atMedium {
    height: 10em;
  }
}

.title {
  color: $title-color;
  font-size: 2rem;
  padding-left: 0.8em;
  flex: 8.2;
  @include atSmall {
    font-size: 3rem;
  }
  @include atMedium {
    font-size: 5rem;
  }
}

.signInNSignOut-href {
  font-size: 1rem;
  color: white;
  cursor: pointer;
  margin-right: 1.5em;
  text-decoration: none;
  @include atSmall {
    font-size: 1.3rem;
    margin-right: 1em;
  }
  @include atMediumSmall {
    font-size: 1.5rem;
  }
  @include atMedium {
    font-size: 2rem;
  }
  @include atLarge {
    font-size: 2.5rem;
  }
}

.signInNSignOut-href:link {
  text-decoration: none;
}

.signInNSignOut-href:visited {
  text-decoration: none;
}

.signInNSignOut-href:hover {
  text-decoration: none;
}

.signInNSignOut-href:active {
  text-decoration: none;
}

.btn-menu {
  font-size: 1rem;
  border-radius: 0;
  margin-right: 2em;
  flex: 0;
  @include atMediumSmall {
    font-size: 1.5rem;
  }
}

.subject-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 1em 0 1em;
  margin-top: 1em;
  @include atMedium {
    margin-top: 2em;
  }
}

.btns-wrapper {
  display: flex;
  flex-direction: row;

  @include atMedium {
    flex: 2;
  }
}

.playbtn-custom {
  flex: 1;
}

.resetbtn-custom {
  flex: 1;
}
