{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "impliedStrict": true,
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "extends": "airbnb",
  "rules": {
    "linebreak-style": 0,
  },
  'env': {
    'browser': true,
    'node': true,
  },
}
