.dropdownbtn-custom {
  width: 100%;
  margin-bottom: 0.5em;
  @include atSmall {
    margin-bottom: 1em;
  }
  @include atMedium {
    font-size: 0.5em;
    margin-bottom: 0.5em;
  }
}

.input-preset {
  width: 100%;
}
