$bg-color: #546E7A;
$app-bg-color: white;
$title-bg-color: #ee6e73;
$title-color: white;
$slide-bar-active-color: #7BA9D0;
$slide-bar-label-color: lightgrey;
$slide-bar-wrapper-color: #d4d4d4;
$menu-bg: #F5F5F5;
$shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.14);
$slide-bar-wrapper-shadow: 1px solid rgba(0, 0 ,0, 0.03);
$engraved-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.125);
